<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>网址</th>
                            <th>排名</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for data in py_data %}
                            <tr>
                                <td><a href="{{ data.href }}" target="_blank">{{ data.href }}</a></td>
                                <td>{{ data.score }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <ul class="pagination">
                    {% if current_page!=1 %}
                        <li><a href="/py-site?page={{ current_page -1 }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><a href="#">&laquo;</a></li>
                    {% endif %}

                    {% for page in range(page_count) %}
                        {% if page+1 == current_page %}
                            <li class="disabled"><a href="/py-site?page={{ page+1 }}">{{ page+1 }}</a></li>
                        {% else %}
                            <li><a href="/py-site?page={{ page+1 }}">{{ page+1 }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if current_page ==page_count %}
                        <li class="disabled"><a href="#">&raquo;</a></li>
                    {% else %}
                        <li><a href="/py-site?page={{ current_page + 1 }}">&laquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>