<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>网址</th>
                <th>排名</th>
            </tr>
        </thead>
            {% for data in py_data %}
                <tr>
                    <td><a href="{{ data.href }}" target="_blank">{{ data.href }}</a></td>
                    <td>{{ data.score }}</td>
                </tr>
            {% endfor %}
        <tbody>
        </tbody>
    </table>
</body>
</html>