<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知乎网址</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>

                    <th>专栏名</th>
                    <th>发表</th>
                    <th>总文章数</th>
                    <th>关注</th>
                    <th>总分数</th>
                </tr>
            </thead>
                {% for data in zhihu_data %}
                    <tr>

                        <td>{{  data.name }}</td>
                        <td>{{  data.publish_count }}</td>
                        <td>{{  data.follow_count }}</td>
                        <td>{{  data.total_score }}</td>
                    </tr>
                {%  endfor %}
        </table>
    </div>

</body>
</html>